*{
    position: relative;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/*bg*/
.bg{
    width: 100vw;
    height: 100vh;  
     box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.8);
}
@media(max-width: 400px){
    .bg{
    height: 120vh;
}
}
.bg-1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    filter: blur(10px);
    opacity: 0.8;

}
.bg__chinese{
      width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
    filter: blur(15px);
    opacity: 0.8;
/*    box-shadow: inset 50px 50px 50px rgba(0, 0, 0, 0.5);*/

}
.bg__img{
   background-size: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0 0px 1000px rgba(0, 0, 0, 1);
}
@media(max-width: 400px){
    .bg-1{
        height: 100%;
    }
}
@media(max-width: 400px){
    .bg__chinese{
        height: 100%;
    }
}
/*   navbar   */
.navbar{
    width: 100%;
    height: 100px;

}
.switch{
    color: #ccc;
    font-size: 24px;
    font-weight: 400;
    margin: 35px;
    text-align: center;
    float: left;
   /* border: 1px solid #fff;
*/  
    transition: all 0.3s;
    padding: 12px;
    
}
.switch:hover{
    color: #fff;
}
@media(max-width: 768px){
   .switch{
    margin: 10px;
    font-size: 18px;
   } 
}
.btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    height: 36px;
    line-height: 36px;
    padding: 11px 16px;
    min-height: 64px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', 'Helvetica', 'Noto Sans SC';
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    background-color: #e881a7;
    border: 0;
    border-radius: 18px;
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.5s;
}
.backbox{
    width: 173px;
    height: 65px;
/*    border: 1px solid #000;*/
    float: right;
    margin: 35px;
    background-color: #e881a7;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(232, 129, 167, 0.3);
    font-size: 24px;
    padding: 12px;
    color: #FFA7C8;
    text-align: center;
    transition: all 0.5s;
    line-height: 41px;
}

.backbox:hover{
    background-color: #dd6488;
    color: #fff;
}
.backword:hover{
    color: white;
}
@media(max-width: 768px){
    .backbox{
        width: 100px;
        height: 40px;
        margin: 10px;
        font-size: 18px;
        line-height: 40px;
    }
}
/*  hero  */

.intro{
    margin-top: 50px;
    position: absolute;
    top: 0;
    left: 25%;
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: #000;

}
@media(max-width: 1200px){
    .intro{
        left: 20%;
    }
}
@media(max-width: 992px){
    .intro{
        left: 10%;
    }
}
@media(max-width: 768px){
    .intro{
        left: 10%;
        margin-right: 40px;
    }
}
@media(max-width: 500px){
    .intro{
        margin-top: 0;
        margin-right: 40px;
    }
}
.intro:before{
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    backdrop-filter: blur(20px);
}
.intro__content{
    font-family: 'Poppins', 'Helvetica', 'Noto Sans SC';
    font-size: 24px;
    line-height: 30px;
    color: #484848;
    text-align: center;
    z-index: 2;
    margin-bottom: 20px;

}
.intro__content span{
    color: red;
}
.intro__content .Chinese{
    font-size: 24px;
    line-height: 24px;
    color: #484848;
    visibility: hidden;
}
@media(max-width: 992px){
    .intro__content{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
    color: #484848;
}
.intro__content .Chinese{
    font-size: 18px;
    line-height: 18px;
    color: #484848;
}
}
@media(max-width: 500px){
    .intro__content{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 18px;
    color: #484848;
}
}
.contact{
    padding-top: 40px;
    font-size: 24px;
    color: #000;
    opacity: 0.75;
}
@media(max-width: 500px){
    .contact{
    font-size: 14px;
    line-height: 24px;
}
