*{
    position: relative;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/*bg*/

.bg{
    width: 100vw;
    height: 100vh;
   
}
.bg:before{
    content: "";
    width: 100%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e881a7;
    animation: dissolve 5s infinite ;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
@keyframes dissolve{
    0%{opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0.5;}
}
@media(max-width: 768px){
    .bg:before{
        width: 100%;
        height: 200%;
    }
}


.bg-1{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;

}
.bg__img{
   background-size: cover;
    height: 100%;
    width: 100%;
}
/*   navbar   */
.navbar{
    width: 100%;
    height: 100px;
}
.mylogo{
   
    float: left;
   /* border: 1px solid #fff;
*/    width: 150px;
    height: 80px;
    align-items: center;
}
.img{
     width: 150px;
    height: 80px;
}
@media(max-width: 768px){
   .mylogo{
     width: 120px;
     height: 60px;
   }
   .img{
     width: 120px;
    height: 60px;
}
}


.btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    height: 36px;
    line-height: 36px;
    padding: 11px 16px;
    min-height: 64px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', 'Helvetica', 'Noto Sans SC';
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    background-color: #e881a7;
    border: 0;
    border-radius: 18px;
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    transition: all 0.5s;
}
.backbox{
    width: 173px;
    height: 65px;
/*    border: 1px solid #000;*/
    float: right;
    margin: 35px;
    background-color: #e881a7;
    border-radius: 20px;
       box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.backbox:hover{
    background-color: #dd6488;
}
.backword{
    font-size: 24px;
    padding-left: 30px;
    padding-top: 5px;
    float: left;
    color: #FFA7C8;
    text-align: center;
    transition: all 0.5s;
}
.backword:hover{
    color: white;
}
.back{
    display: inline-block;
    align-items: center;
    padding-right: 20px;
    float: right;
   /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);*/
}
@media(max-width: 768px){
    .backbox{
        width: 140px;
        height: 60px;
        margin: 10px;
    }
    .backword{
        padding-left: 5px;
    }
    .back{
        width: 50%;
        height: 50%;
        padding-right: 5px;

    }
}
.imgbox{
    width: 100%;
    overflow: hidden;   
   /* border: 1px solid red;*/
    margin-top: 200px;
    margin-left: 120px;
    margin-bottom: 312px;
}
.imgbox__inner{
    width: 100%;
    padding-top: 100%; 
  /*  border: 1px solid #000;*/
}
.imgbox__inner.imgbox__inner--4-3{
    padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
@media(max-width: 768px){
    .imgbox{
    margin-left: 0px;
    margin-bottom: 100px;
    } 
}
/*  hero  */
.intro__title{
    font-size: 40px;
    line-height: 40px;
    margin: 30px;

}
.intro__content{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
    color: #484848;
}
.intro__content .Chinese{
    font-size: 24px;
    line-height: 24px;
    color: #484848;
}
@media(max-width: 992px){
    .intro__title{
    font-size: 30px;
    line-height: 30px;
    margin: 30px;
        }
        .intro__content{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
    color: #484848;
}
.intro__content .Chinese{
    font-size: 18px;
    line-height: 18px;
    color: #484848;
}
}

